.actividades {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(1, 1fr);
    padding: 0px 20px 50px;
    max-width: 540px;
    margin: 0 auto;

    &__contenedores {
        @include flexbox;
        flex-direction: column;
        padding: 0px 0px 30px;
        align-self: self-start;

        &-imagenes {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            overflow: hidden;
            transition-duration: 0.2s;
            
            &:hover {
                box-shadow: 0px 0px 18px 2px rgba(0, 0, 0, 0.25);
            }
        }
    }

    &__imagenes {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__nombres {
        @include montserrat-700;
        font-size: 1.5rem;
        color: $color-negro;
        text-align: center;
        padding: 10px 0px 0px;
        margin: 0px;
    }

    &__descripciones {
        @include montserrat-500;
        font-size: 1.188rem;
        text-align: center;
        padding: 0px 30px;
        color: $color-negro;
    }
}

@media (min-width: 480px) {

    .actividades {
        grid-template-columns: repeat(2, 1fr);

        &__descripciones {
            padding: 5px 10px;
        }
    }
}

@media (min-width: 768px) {

    .actividades {
        grid-template-columns: repeat(6, 1fr);
        max-width: 720px;

        &__contenedores {
            grid-column: span 2;
        }

        &__descripciones {
            max-width: 400px;
        }
    }


    .alineacion {
        &-act7 {
            grid-column: 2/4;
        }

        &-act8 {
            grid-column: 4/6;
        }
    }
}

@media (min-width: 992px) {

    .actividades {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .actividades {
        max-width: 1140px;
    }
}