.main1 {
    &__div {

        &-1 {
            height: 720px;
            background-size: cover;
            background-position: right;
            overflow-wrap: break-word;
            @include flexbox;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/foto-main1-1.jpg);
        }

        &-2 {
            @extend .main1__div-1;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/foto-main1-2.jpg);
            background-position: center;
        }

        &-3 {
            @extend .main1__div-1;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/foto-main1-3.jpg);
            background-position: center;
        }

        &-4 {
            @extend .main1__div-1;
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/foto-main1-4.jpg);
            background-position: center;
        }
    }


    &__p {
        @include nunito-700;
        font-size: 2.25rem;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 15px;
        overflow: hidden;
        text-align: center;
    }
}