.reserva {
    &__contenedor-boton {
        padding: 15px 0px 50px;
    }

    &__boton {
        @include montserrat-600;
        font-size: 1.25rem;
        border-radius: 24px;
        background-color: $color-amarillo;
        color: $color-negro;
        padding: 2px 50px;
        border: 2px solid $color-negro;
        transition-duration: 0.2s;

        &:hover {
            background-color: $color-naranja;
        }
    }
}