.bg-logo {
    background-color: $color-negro;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/bigbull-logo.png);
    background-size: cover;
    background-position: center;
}

.footer {
    padding: 20px 20px;
    @include flexbox;
    flex-direction: column;
    margin: 0 auto;
    max-width: 540px;

    &__titulo {
        @include nunito-900;
        font-size: 1.375rem;
        color: $color-blanco;
        text-align: center;
        padding: 10px 0px 0px 0px;
    }

    &__ul {
        @include flexbox;
        flex-direction: column;
        padding: 10px ;
        color: $color-amarillo;
        gap: 10px;
    }

    &__li {
        text-decoration-line: none;
        @include nunito-800;
        font-size: 1.188rem;

        &:visited  {
            color: $color-amarillo;
        }

        &:link  {
            color: $color-amarillo;
        }
    }

    &__contenedor-svg {
        @include flexbox;
        gap: 5px;
        padding: 10px 0px;
    }

    &__rrss-titulo {
        @include nunito-700;
        font-size: 1.188rem;
        color: $color-blanco;
    }
} 

.svg{
    &-fb {
        width: 42.51px; 
        height: 42.51px;
        fill: $color-amarillo;
        transition-duration: 0.2s;

        &:hover{
            fill: $color-naranja;
        }
    }

    &-ig {
        width: 39.24px; 
        height: 39.24px;
        fill: $color-amarillo;
        transition-duration: 0.2s;

        &:hover{
            fill: $color-naranja;
        }
    }

    &-tw {
        width: 43.32px; 
        height: 35.15px;
        fill: $color-amarillo;
        transition-duration: 0.2s;

        &:hover{
            fill: $color-naranja;
        }
    }

    &-yt {
        width: 55px; 
        height: 38px;
        fill: $color-amarillo;
        transition-duration: 0.2s;

        &:hover{
            fill: $color-naranja;
        }
    }

    &-tt {
        width: 35.15px; 
        height: 40.05px;
        fill: $color-amarillo;
        transition-duration: 0.2s;

        &:hover{
            fill: $color-naranja;
        }
    }
}

.hr-footer {
    margin: 0px auto;
    padding: 0px 20px;
    border-width: 2px;
    max-width: 440px;
}

.derechos {
    &-contenedor {
        padding: 10px 20px;
    }

    &-parrafo {
        color: $color-blanco;
        @include nunito-600;
        font-size: 1rem;
        text-align: center;
        margin: 0px;
    }
}

@media (min-width: 480px) {

    .bg-logo {
        background-image: none;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        align-content: center;
        column-gap: 30px;
    }

    .footer__section1 {
        grid-row: 1/3;
    }

    .br1 {
        display: block;
    }

    .footer__rrss-titulo {
        display: block;
        text-align: center;
        padding: 30px 0px 0px;
    }

    .footer__logo {
        display: block;
        width: 145px;
        height: 145px;
        border-radius: 50px;
    }

}

@media (min-width: 768px) {

    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 720px;
    }

    .footer__titulo {
        padding: 0px;
    }

    
    .texto-destacado2 {
        font-size: 2rem;
    }

    .footer__ul {
        display: none;
    }

    .footer__rrss-titulo {
        padding: 0px;
    }

    .footer__contenedor-svg {
        padding: 0px;
    }

    .footer__logo {
        width: 115px;
        height: 115px;
    }

    .hr-footer {
        max-width: 728px;
    }
    
}

@media (min-width: 992px) {

    .footer {
        max-width: 960px;
    }

    .hr-footer {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .footer {
        max-width: 1140px;
    }

    .hr-footer {
        max-width: 1140px;
    }
}