.navbar-nav {
    color: #FFFFFF;
    @include nunito-900;
    font-style: italic;
    font-size: 1rem;
    --bs-nav-link-hover-color: #FFFFFF;
    transition-duration: 2s;
    transition-property: all;
    transition-delay: 2s;
}

.nav-link[aria-current="page"] {
    text-decoration: underline;
    color: #FFFFFF;
}

.header-logo {
    min-width: 170px;
    padding: 2px 0px;
}

.nav-item:hover {
    text-decoration: underline;
}